
<section class="services py-100-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="sec-title text-center">
          <h2>Our Services</h2>
          <h3>High Quality <span>Services</span></h3>
          <div class="icon">
            <i class="flaticon-heart sec-icon"></i>
          </div>
          <p>Al-Anwar are a professional medical &amp; health care services provider institutions. Suitable for Hospitals, Dentists, Gynecologists, Physiatrists.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-doctor"></i>
          <div class="item-content">
            <h4>Qulified Doctors</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-emergency-call-1"></i>
          <div class="item-content">
            <h4>24 Hours Services</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-blood-donation-1"></i>
          <div class="item-content">
            <h4>Blood Test</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-ambulance-3"></i>
          <div class="item-content">
            <h4>24/7 Ambulance</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-medical"></i>
          <div class="item-content">
            <h4>Medical Counselling</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-treatment"></i>
          <div class="item-content">
            <h4>Transplant Services</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-bed"></i>
          <div class="item-content">
            <h4>Rehabilitation</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="services-item">
          <i class="item-icon flaticon-list"></i>
          <div class="item-content">
            <h4>Outdoor Checkup</h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <a href="01_services.html">Read More</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
