
<section class="testimonials py-100">
  <div class="overlay-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="sec-title text-center">
          <h2>Our Testimonials</h2>
          <h3>What Our Patients Say About Our Medical Treatments</h3>
          <div class="icon">
            <i class="flaticon-heart sec-icon"></i>
          </div>
          <p>Al-Anwar are a professional medical &amp; health care services provider institutions. Suitable for Hospitals, Dentists, Gynecologists, Physiatrists.</p>
        </div>
      </div>
    </div>
    <div class="testimonials-slider testimonials-slider-1 owl-carousel owl-theme">
      <div class="testimonials-item">
        <img class="img-fluid testimonials-item-img" src="assets/images/testimonials/01_testimonials.jpg" alt="01 Testimonials">
        <div class="text-box">
          <p class="text">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</p>
          <div class="item-name">
            <h5>Christine Blaine</h5>
            <span>blood patient</span>
          </div>
        </div>
        <i class="flaticon-straight-quotes quotes"></i>
      </div>
      <div class="testimonials-item">
        <img class="img-fluid testimonials-item-img" src="assets/images/testimonials/02_testimonials.jpg" alt="02 Testimonials">
        <div class="text-box">
          <p class="text">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</p>
          <div class="item-name">
            <h5>Benjamin Flanco</h5>
            <span>dental patient</span>
          </div>
        </div>
        <i class="flaticon-straight-quotes quotes"></i>
      </div>
      <div class="testimonials-item">
        <img class="img-fluid testimonials-item-img" src="assets/images/testimonials/03_testimonials.jpg" alt="03 Testimonials">
        <div class="text-box">
          <p class="text">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</p>
          <div class="item-name">
            <h5>Osama Bakri</h5>
            <span>kidney patient</span>
          </div>
        </div>
        <i class="flaticon-straight-quotes quotes"></i>
      </div>
      <div class="testimonials-item">
        <img class="img-fluid testimonials-item-img" src="assets/images/testimonials/04_testimonials.jpg" alt="04 Testimonials">
        <div class="text-box">
          <p class="text">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</p>
          <div class="item-name">
            <h5>Nour Eldin</h5>
            <span>kidney patient</span>
          </div>
        </div>
        <i class="flaticon-straight-quotes quotes"></i>
      </div>
      <div class="testimonials-item">
        <img class="img-fluid testimonials-item-img" src="assets/images/testimonials/05_testimonials.jpg" alt="05 Testimonials">
        <div class="text-box">
          <p class="text">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</p>
          <div class="item-name">
            <h5>Rabie Elkheir</h5>
            <span>kidney patient</span>
          </div>
        </div>
        <i class="flaticon-straight-quotes quotes"></i>
      </div>
      <div class="testimonials-item">
        <img class="img-fluid testimonials-item-img" src="assets/images/testimonials/06_testimonials.jpg" alt="06 Testimonials">
        <div class="text-box">
          <p class="text">I want to thank everyone at this facility for the quality of care and compassion they showed during my stay. The staff supported me during my treatment.</p>
          <div class="item-name">
            <h5>Omnia Ramadan</h5>
            <span>kidney patient</span>
          </div>
        </div>
        <i class="flaticon-straight-quotes quotes"></i>
      </div>
    </div>
  </div>
</section>
