
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <div class="logo">
          <img class="img-fluid" src="../../../../../assets/images/logo/02_logo.png" alt="02 Logo Footer">
          <p>Al-Anwar Are A Professional Medical &amp; Health Care Services Provider Institutions. Suitable For Hospitals, Dentists, Gynecologists, Physiatrists.</p>
          <ul>
            <li><a href="{{bio.facebook"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="footer-title">
          <h4>Links</h4>
        </div>
        <ul class="links">
          <li><a href="01_home.html"><i class="fas fa-arrow-right"></i> Home</a></li>
          <li><a href="01_about.html"><i class="fas fa-arrow-right"></i> About</a></li>
          <li><a href="01_doctor.html"><i class="fas fa-arrow-right"></i> Doctors</a></li>
          <li><a href="01_departments.html"><i class="fas fa-arrow-right"></i> Departments</a></li>
          <li><a href="01_departments-details.html"><i class="fas fa-arrow-right"></i> Departments Details</a></li>
          <li><a href="01_services.html"><i class="fas fa-arrow-right"></i> Services</a></li>
          <li><a href="01_services-details.html"><i class="fas fa-arrow-right"></i> Services Details</a></li>
          <li><a href="01_appointment.html"><i class="fas fa-arrow-right"></i> Appointment</a></li>
          <li><a href="01_gallery.html"><i class="fas fa-arrow-right"></i> Gallery</a></li>
          <li><a href="01_testimonials.html"><i class="fas fa-arrow-right"></i> Testimonials</a></li>
          <li><a href="01_blog.html"><i class="fas fa-arrow-right"></i> Blog</a></li>
          <li><a href="01_single-blog.html"><i class="fas fa-arrow-right"></i> Single Blog</a></li>
          <li><a href="01_shop.html"><i class="fas fa-arrow-right"></i> Shop</a></li>
          <li><a href="01_single-product.html"><i class="fas fa-arrow-right"></i> Single Product</a></li>
          <li><a href="01_contact.html"><i class="fas fa-arrow-right"></i> Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-4 col-lg-3">
        <div class="footer-title">
          <h4>News Feeds</h4>
        </div>
        <div class="news-item">
          <img class="img-fluid" src="../../../../../assets/images/blog/01_blog.jpg" alt="01 Blog">
          <div class="item-content">
            <span><a href="#">Jan 20, 2019</a></span>
            <a href="#" class="title-blog">
              <h5>Medical &amp; Dental Support ICU &amp; CCU for Emergancy Services</h5>
            </a>
          </div>
        </div>
        <div class="news-item">
          <img class="img-fluid" src="../../../../../assets/images/blog/02_blog.jpg" alt="02 Blog">
          <div class="item-content">
            <span><a href="#">Jan 25, 2019</a></span>
            <a href="#" class="title-blog">
              <h5>Patien Forum School patient Experience</h5>
            </a>
          </div>
        </div>
        <div class="news-item">
          <img class="img-fluid" src="../../../../../assets/images/blog/03_blog.jpg" alt="03 Blog">
          <div class="item-content">
            <span><a href="#">Jan 30, 2019</a></span>
            <a href="#" class="title-blog">
              <h5>What Can I do to protect myself &amp; prevent the spread of disease!</h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="footer-title">
          <h4>Contact Info</h4>
        </div>
        <div class="contact-us">
          <span>Call Us Now</span>
          <div>{{bio.phone}}</div>
        </div>
        <div class="contact-us">
          <span>Send Us Message</span>
          <div>{{bio.email}}</div>
        </div>
        <div class="contact-us">
          <span>Visit Our Hospital</span>
          <div>{{bio.address}}</div>
        </div>
      </div>
    </div>
    <div class="reserved">
      <p>&#64; Al-Anwar 2020. All Rights Reserved.</p>
      <ul>
        <li><a href="#">Terms &amp; Conditions </a></li>
        <li>/</li>
        <li><a href="#">Sitemap</a></li>
        <li>/</li>
        <li><a href="#">Privacy Policy</a></li>
      </ul>
    </div>
  </div>
</footer>
