<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
  Order Summary
</div>
<div class="p-4">
  <p class="font-italic mb-4">Shipping cost will be added depending choices made during checkout</p>
  <ul class="list-unstyled mb-4" *ngIf="(basketTotals$|async)">
    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Order SubTotal</strong>
      <strong>{{(basketTotals$|async).subtotal|currency}}</strong>
    </li>

    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Shipping and Handling</strong>
      <strong>{{(basketTotals$|async).shipping}}</strong>
    </li>

    <li class="d-flex justify-content-between py-3 border-bottom">
      <strong class="text-muted">Total</strong>
      <strong>{{(basketTotals$|async).total|currency}}</strong>
    </li>
  </ul>
</div>
