<div class="container-fluid">

  <h1 class="h3 mb-3 text-gray-800">Appointment List</h1>

  <div class="card shadow">
    <div class="card-header py-3">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Date</th>
          <th>Message</th>
          <th>Doctor</th>
          <th>Settings</th>
        </tr>
        </thead>
      </table>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
          <tr *ngFor="let appointment of appointments">
            <app-admin-appointment-item [appointment]="appointment" (onDelete)="onDelete($event)"></app-admin-appointment-item>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
