<div class="container mt-5">
  <div class="row mt-3">
    <div class="col-sm-4 mt-3">
      <h1>Update Doctor</h1>
    </div>
    <div class="col-sm-8 mt-3">
      <div *ngIf="form.dirty" class="alert alert-info">
        <strong>Information </strong>You have made changes.Any unsaved changes will be lost
      </div>
    </div>
    <div class="col">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" [(ngModel)]="doctor.name" formControlName="name" class="form-control" placeholder="name">
          <div class="validation alert alert-danger" *ngIf="_name.invalid && _name.touched">
            <div *ngIf="_name.errors?.required">
              Name required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Profession</label>
          <input type="text" [(ngModel)]="doctor.profession" formControlName="profession" class="form-control" placeholder="profession">
          <div class="validation alert alert-danger" *ngIf="_profession.invalid && _profession.touched">
            <div *ngIf="_profession.errors?.required">
              Profession required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Description</label>
          <input type="text" [(ngModel)]="doctor.description" formControlName="description" class="form-control" placeholder="description">
          <div class="validation alert alert-danger" *ngIf="_description.invalid && _description.touched">
            <div *ngIf="_description.errors?.required">
              Description required
            </div>
          </div>
        </div>

        <div class="form-group">
          <label>Facebook</label>
          <input type="text" [(ngModel)]="doctor.facebook" formControlName="facebook" class="form-control" placeholder="facebook">
          <div class="validation alert alert-danger" *ngIf="_facebook.invalid && _facebook.touched">
            <div *ngIf="_facebook.errors?.required">
              Facebook required
            </div>
          </div>
        </div>

        <div class="form-group">

          <label>Department</label>
          <select formControlName="departmentId" class="form-control">
            <option value="" disabled>Select Department</option>
            <option *ngFor="let department of departments" value="{{department.id}}" >{{department.name}}</option>
          </select>
          <div class="validation alert alert-danger" *ngIf="_departmentId.invalid && _departmentId.touched">
            <div *ngIf="_departmentId.errors?.required">
              Department required
            </div>
          </div>
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn btn-primary btn-submit">Update</button>
      </form>
    </div>
  </div>
</div>
