<!-- :: Shop -->
<section class="shop area py-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-box">
          <img class="img-fluid" src="assets/images/shop/01_shop.jpg" alt="01 Shop">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="text-box-details">
          <h3 class="title-product">{{product.name}}</h3>
          <div class="item-review">
            <span><i class="fas fa-star active"></i></span>
            <span><i class="fas fa-star active"></i></span>
            <span><i class="fas fa-star active"></i></span>
            <span><i class="fas fa-star active"></i></span>
            <span><i class="fas fa-star"></i></span>
            <span class="reviews">4 Review(s)</span>
            <span class="spance-span">/</span>
            <span><a href="#">Add Review</a></span>
          </div>
          <div class="item-price">
            {{product.price|currency}}
          </div>
          <p>{{product.description}}</p>
          <a (click)="addItemToBasket()" class="btn-3">Add To Basket</a>
          <ul class="list-details">
            <li><span>Category:</span>{{product.productType}}</li>
            <li><span>Brand:</span>{{product.productBrand}}</li>
            <li>
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="description text-center">
          <ul>
            <li><a href="#" class="btn-1">Additional Information</a></li>
            <li><a href="#" class="btn-1">Description</a></li>
            <li><a href="#" class="btn-1">Reviews (4)</a></li>
          </ul>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
        </div>
      </div>
    </div>
  </div>
</section>
