
<section class="department py-100-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="sec-title text-center">
          <h2>Our Department</h2>
          <h3>We Care For Your <span>Health</span></h3>
          <div class="icon">
            <i class="flaticon-heart sec-icon"></i>
          </div>
          <p>Al-Anwar are a professional medical &amp; health care services provider institutions. Suitable for Hospitals, Dentists, Gynecologists, Physiatrists.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3" *ngFor="let department of departments;let i=index">
        <div *ngIf="i<8">
          <div class="services-item">
            <i class="item-icon flaticon-microscope"></i>
            <div class="item-content">
              <h4>{{department.name}}</h4>
              <p>{{department.description}}</p>
              <a href="01_departments.html">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

