<carousel>
  <slide>
    <img src="assets/images/header/01_header.jpg" alt="first slide" style="display: block; width: 100%; height: 600px">
  </slide>
  <slide>
    <img src="assets/images/header/02_header.jpg" alt="second slide" style="display: block; width: 100%;height: 600px">
  </slide>
  <slide>
    <img src="assets/images/header/03_header.jpg" alt="third slide" style="display: block; width: 100%;height: 600px">
  </slide>
</carousel>
<app-main-feature></app-main-feature>
<app-main-about></app-main-about>
<app-main-service></app-main-service>
<app-main-packages></app-main-packages>
<app-main-department></app-main-department>
<app-main-home-statistic></app-main-home-statistic>
<app-main-doctor></app-main-doctor>
<app-main-home-appointment></app-main-home-appointment>
<app-main-home-gallery></app-main-home-gallery>
<app-main-multi-carousel></app-main-multi-carousel>
<app-main-testimonial></app-main-testimonial>
<app-main-blog></app-main-blog>
