
<section class="get-now-packages py-100">
  <div class="overlay-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="sec-title text-center">
          <h2>Take the offer Limited Time !</h2>
          <h3>Get 28% Any Labratory Test! Check It Out.</h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <a href="01_contact.html" class="btn-4"><i class="fas fa-phone-alt"></i> Contact us</a>
      </div>
    </div>
  </div>
</section>
