
<section class="appointment py-100">
  <div class="overlay-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-lg-6">
        <div class="appointment-item">
          <div class="sec-title">
            <h3>An Appointment</h3>
            <p>Al-Anwar are a professional medical &amp; health care services provider institutions. Suitable for Hospitals, Dentists, Gynecologists, Physiatrists.</p>
          </div>
          <form>
            <div class="row">
              <div class="col-md-6 form-item">
                <input type="text" name="name" placeholder="Name">
              </div>
              <div class="col-md-6 form-item">
                <input type="email" name="email" placeholder="Email">
              </div>
              <div class="col-md-6 form-item">
                <input type="tel" name="tel" placeholder="Phone">
              </div>
              <div class="col-md-6 form-item">
                <select>
                  <option data-display="Select">Department</option>
                  <option value="1">Neurology</option>
                  <option value="2">Orthopedic</option>
                  <option value="3">Lab Test</option>
                  <option value="4">Dental</option>
                  <option value="5">Cardiology</option>
                  <option value="6">Gynecology</option>
                  <option value="7">Pulmonology</option>
                  <option value="8">Eye</option>
                </select>
              </div>
              <div class="col-md-6 form-item">
                <input type="text" name="name" placeholder="Doctor Name">
              </div>
              <div class="col-md-6 form-item">
                <input placeholder="MM/DD/YYYY" data-provide="datepicker">
              </div>
              <div class="col-md-12 form-item">
                <textarea placeholder="Leave Your Message Here....."></textarea>
              </div>
              <div class="col-md-12 form-item">
                <a href="#" class="btn-1">Submit Request</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
