/* :: Blog */
.blog .blog-item{
  margin-bottom: 30px;
}
.blog .blog-item .img-box{
  position: relative;
  overflow: hidden;
}
.blog .blog-item:hover .img-box .open-post img{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1.5s ease-in-out;
  -o-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out
}
.blog .blog-item .img-box ul{
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #3EB7E9;
  padding: 2px 15px;
}
.blog .blog-item .img-box ul li{
  display: inline-block;
}
.blog .blog-item .img-box ul li a{
  font-size: 13px;
  text-transform: capitalize;
}
.blog .blog-item .img-box ul li:hover a{
  color: #222;
}
.blog .blog-item .text-box{
  padding: 30px 30px 0px 30px;
}
.blog .blog-item .text-box .title-blog{
  display: block;
}
.blog .blog-item .text-box h5{
  position: relative;
  font-size: 21px;
  line-height: 29px;
  margin: 15px 0;
  font-weight: 600;
  color: #222;
}
.blog .blog-item .text-box .title-blog:hover,
.blog .blog-item .text-box h5:hover{
  color: #3EB7E9;
}
.blog .blog-item .text-box .link{
  display: inline-block;
  color: #222;
  font-size: 15px;
  line-height: 1;
  font-weight: 600;
  position: relative;
  border-bottom: 2px solid #222;
  padding-bottom: 4px;
}
.blog .blog-item .text-box .link:hover{
  color: #3EB7E9;
  border-bottom: 2px solid #3EB7E9;
}
