
<section class="about py-100" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="text-box">
          <div class="sec-title">
            <h3>{{about.title}}</h3>
          </div>
          <p>{{about.description}}</p>
          <img class="img-fluid signature" src="assets/images/about/01_signature-about.png" alt="01 Signature About">
          <a href="01_about.html" class="btn-2">Read More</a>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="img-box">
          <div class="about-img">
            <img class="img-fluid" src="assets/images/about/01_about.jpg" alt="01 About">
          </div>
          <div class="logo-website">
            <img class="img-fluid" src="assets/images/logo/03_logo.png" alt="03 Logo">
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="open-hours">
          <h5>open hour</h5>
          <ul>
            <li>Monday <span>8,00 - 20,00</span></li>
            <li>Tuesday <span>8,00 - 20,00</span></li>
            <li>Wednesday <span>8,00 - 20,00</span></li>
            <li>Thursday <span>8,00 - 20,00</span></li>
            <li>Friday <span>8,00 - 20,00</span></li>
            <li>Saturday <span>8,00 - 20,00</span></li>
            <li>Sunday <span>8,00 - 20,00</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

