
<section class="doctors py-100-70">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="sec-title text-center">
          <h2>Our Expert</h2>
          <h3>Meet Our <span>Specialist</span></h3>
          <div class="icon">
            <i class="flaticon-heart sec-icon"></i>
          </div>
          <p>Al-Anwar are a professional medical &amp; health care services provider institutions. Suitable for Hospitals, Dentists, Gynecologists, Physiatrists.</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="doctor-item">
          <div class="img-box">
            <img class="img-fluid" src="assets/images/doctors/01_doctors.jpg" alt="01 Doctor">
          </div>
          <div class="text-box text-center">
            <h5>Dr. Micheal Jr Brian</h5>
            <span>Orthopedics</span>
            <p>Lorem Ipsum has been standard dummy.Lorem Ipsum is simply text of the printing.</p>
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="doctor-item">
          <div class="img-box">
            <img class="img-fluid" src="assets/images/doctors/02_doctors.jpg" alt="02 Doctor">
          </div>
          <div class="text-box text-center">
            <h5>Dr. Alex Martine</h5>
            <span>Lab Test</span>
            <p>Lorem Ipsum has been standard dummy.Lorem Ipsum is simply text of the printing.</p>
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="doctor-item">
          <div class="img-box">
            <img class="img-fluid" src="assets/images/doctors/03_doctors.jpg" alt="03 Doctor">
          </div>
          <div class="text-box text-center">
            <h5>Dr. Anwar Ramadan</h5>
            <span>Pulmonology</span>
            <p>Lorem Ipsum has been standard dummy.Lorem Ipsum is simply text of the printing.</p>
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a href="#"><i class="fab fa-instagram"></i></a></li>
              <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
