<div class="container-fluid">

  <h1 class="h3 mb-3 text-gray-800">Bio</h1>

  <div class="card shadow">
    <div class="card-header py-3">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Phone</th>
          <th>Email</th>
          <th>Facebook</th>
          <th>Address</th>
          <th>Settings</th>
        </tr>
        </thead>
      </table>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
          <tr>
            <td>{{bio.phone}}</td>
            <td>{{bio.email}}</td>
            <td>{{bio.facebook}}</td>
            <td>{{bio.address}}</td>
            <td>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-warning" [routerLink]="['/admin/bio/update/',bio.id]">Edit</button>
                </div>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

