<section class="gallery py-100">
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="sec-title text-center">
          <h2>Our Gallery</h2>
          <h3>Al-Anwar <span>Gallery</span></h3>
          <div class="icon">
            <i class="flaticon-heart sec-icon"></i>
          </div>
          <p>Al-Anwar are a professional medical &amp; health care services provider institutions. Suitable for Hospitals, Dentists, Gynecologists, Physiatrists.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="gallery-slider owl-carousel owl-theme">
      <div class="gallery-item">
        <img class="img-fluid gallery-item-img" src="assets/images/gallery/01_gallery.jpg" alt="01 Gallery">
        <div class="gallery-box-hover">
          <div class="text-box">
            <h5>Neurology</h5>
            <span></span>
            <div class="icon text-center">
              <div class="link-icon"><a href="01_gallery.html"><i class="fas fa-link"></i></a></div>
              <div class="link-icon"><a class="open-gallery-item" href="assets/images/gallery/01_gallery.jpg"><i class="fas fa-search-plus"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img class="img-fluid gallery-item-img" src="assets/images/gallery/02_gallery.jpg" alt="01 Gallery">
        <div class="gallery-box-hover">
          <div class="text-box">
            <h5>Orthopedic</h5>
            <span></span>
            <div class="icon text-center">
              <div class="link-icon"><a href="01_gallery.html"><i class="fas fa-link"></i></a></div>
              <div class="link-icon"><a href="https://youtu.be/TKnufs85hXk" data-lity><i class="fas fa-play"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img class="img-fluid gallery-item-img" src="assets/images/gallery/03_gallery.jpg" alt="01 Gallery">
        <div class="gallery-box-hover">
          <div class="text-box">
            <h5>Cardiology</h5>
            <span></span>
            <div class="icon text-center">
              <div class="link-icon"><a href="01_gallery.html"><i class="fas fa-link"></i></a></div>
              <div class="link-icon"><a class="open-gallery-item" href="assets/images/gallery/03_gallery.jpg"><i class="fas fa-search-plus"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img class="img-fluid gallery-item-img" src="assets/images/gallery/04_gallery.jpg" alt="01 Gallery">
        <div class="gallery-box-hover">
          <div class="text-box">
            <h5>Gynecology</h5>
            <span></span>
            <div class="icon text-center">
              <div class="link-icon"><a href="01_gallery.html"><i class="fas fa-link"></i></a></div>
              <div class="link-icon"><a href="https://youtu.be/TKnufs85hXk" data-lity><i class="fas fa-play"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img class="img-fluid gallery-item-img" src="assets/images/gallery/05_gallery.jpg" alt="01 Gallery">
        <div class="gallery-box-hover">
          <div class="text-box">
            <h5>Pulmonology</h5>
            <span></span>
            <div class="icon text-center">
              <div class="link-icon"><a href="01_gallery.html"><i class="fas fa-link"></i></a></div>
              <div class="link-icon"><a class="open-gallery-item" href="assets/images/gallery/05_gallery.jpg"><i class="fas fa-search-plus"></i></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="gallery-item">
        <img class="img-fluid gallery-item-img" src="assets/images/gallery/06_gallery.jpg" alt="01 Gallery">
        <div class="gallery-box-hover">
          <div class="text-box">
            <h5>Dental</h5>
            <span></span>
            <div class="icon text-center">
              <div class="link-icon"><a href="01_gallery.html"><i class="fas fa-link"></i></a></div>
              <div class="link-icon"><a class="open-gallery-item" href="assets/images/gallery/06_gallery.jpg"><i class="fas fa-search-plus"></i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
