<section class="shop area py-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="img-box">
          <img class="img-fluid" src="{{doctor.photoUrl}}" alt="01 Doctor">
        </div>
      </div>
      <div class="col-lg-6 d-flex align-items-center">
        <div class="text-box-details">
          <h3 class="title-product">{{doctor.name}}</h3>
          <p>{{doctor.description}}</p>
          <ul class="list-details">
            <li><span>Profession:</span>{{doctor.profession}}</li>
            <li><span>Department:</span>{{doctor.department}}</li>
            <li>
              <a href="{{doctor.facebook}}"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>





