<div class="container-fluid">

  <h1 class="h3 mb-3 text-gray-800">Services List</h1>
  <button class="btn btn-primary mb-3" [routerLink]="['/admin/service/create']">Create Service</button>

  <div class="card shadow">
    <div class="card-header py-3">
      <table class="table table-bordered" width="100%" cellspacing="0">
        <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Settings</th>
        </tr>
        </thead>
      </table>

    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
          <tbody>
          <tr *ngFor="let service of services">
            <app-admin-service-item [service]="service" (onDelete)="onDelete($event)"></app-admin-service-item>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>

