
<section class="contact py-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <form>
          <div class="row">
            <div class="col-md-6 form-item">
              <input type="text" name="name" placeholder="Name">
            </div>
            <div class="col-md-6 form-item">
              <input type="email" name="email" placeholder="Email">
            </div>
            <div class="col-md-12 form-item">
              <input type="tel" name="tel" placeholder="Phone">
            </div>
            <div class="col-md-12 form-item">
              <input type="text" name="name" placeholder="Subject">
            </div>
            <div class="col-md-12 form-item">
              <textarea placeholder="Leave Your Message Here....."></textarea>
            </div>
            <div class="col-md-12 form-item">
              <a href="#" class="btn-1">Send Message</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
