
<section class="feature-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-4">
        <div class="feature-item">
          <i class="flaticon-ambulance"></i>
          <div class="item-text">
            <span>We are helpers</span>
            <h4>Emergency Cases</h4>
            <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
            <a href="#">An Appointment</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="feature-item">
          <i class="flaticon-doctor"></i>
          <div class="item-text">
            <span>We are helpers</span>
            <h4>Doctor's Schedule</h4>
            <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
            <a href="#">View TimeTable</a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4">
        <div class="feature-item last">
          <i class="flaticon-clinic-history"></i>
          <div class="item-text">
            <span>We are helpers</span>
            <h4>Make An Appointment</h4>
            <p>Lorem Ipsum is simply text of the printing and typesetting industry. Lorem Ipsum has been standard dummy.</p>
            <a href="#">Appointment</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
