/* :: Feature */
.feature .feature-box{
  width: 950px;
  margin-top: -234px;
  background-color: #FFF;
  position: relative;
  z-index: 10;
  overflow: hidden;
  padding-top: 30px;
  padding-left: 30px;
}
.feature-item{
  margin-bottom: 30px;
}
.feature .feature-box .feature-item{
  width: calc(100% / 3);
  float: left;
  padding-right: 30px;
  margin-bottom: 0;
}
.feature-item i{
  font-size: 45px;
  float: left;
  line-height: 1;
  color: #3EB7E9;
}
.feature-item:hover i{
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}
.feature-item .item-text{
  padding-left: 60px;
}
.feature-item .item-text span{
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  padding-bottom: 5px;
  color: #006492;
}
.feature-item .item-text h4{
  color: #222;
  font-weight: 800;
  font-size: 20px;
  line-height: 29px;
  margin-bottom: 15px;
}
.feature-item .item-text p{
  margin-bottom: 0;
}
.feature-item .item-text a{
  color: #222;
  position: relative;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  display: inline-block;
}
.feature-item .item-text a:hover{
  color: #3EB7E9;
}
.feature-2 .feature-box{
  overflow: hidden;
  margin-top: -120px;
  position: relative;
}
.feature-3 .feature-box{
  margin-top: 0;
}
.feature-2 .feature-item{
  width: calc(100% / 3);
  float: left;
  margin: 0;
  padding: 30px;
}
.feature-2 .feature-item:nth-of-type(1),
.feature-2 .feature-item:nth-of-type(3){
  background-color: #3EB7E9;
}
.feature-2 .feature-item:nth-of-type(2){
  background-color: #006492;
}
.feature-2 .feature-item i,
.feature-2 .feature-item .item-text span,
.feature-2 .feature-item .item-text h4,
.feature-2 .feature-item .item-text p,
.feature-2 .feature-item .item-text a{
  color: #FFF;
}
.feature-2 .feature-item .item-text a:hover{
  color: #222;
}
.feature-2 .feature-item{
  text-align: center;
}
.feature-3 .feature-item i{
  float: none;
  display: inline-block;
}
.feature-3 .feature-item .item-text{
  padding: 0;
}
.feature-3 .feature-item .item-text span{
  margin-top: 15px;
}
