
<div class="statistic py-100-70">
  <div class="overlay-1"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="statistic-item">
          <div class="count" data-from="1980" data-to="2980"></div>
          <div class="item-contact">
            <div class="name-item">Total Doctor's</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="statistic-item">
          <div class="count" data-from="560" data-to="1560"></div>
          <div class="item-contact">
            <div class="name-item">Total Awards</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="statistic-item">
          <div class="count" data-from="20" data-to="109"></div>
          <div class="item-contact">
            <div class="name-item">Clinical Services</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="statistic-item">
          <div class="count" data-from="1196" data-to="2196"></div>
          <div class="item-contact">
            <div class="name-item">Happy Patients</div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
