/* :: Appointment */
.appointment{
  /*background-image: url(../images/appointment/01_appointment.jpg);*/
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.appointment-item{
  background-color: #FFF;
  padding: 80px;
  -webkit-box-shadow: 0 8px 80px rgba(40, 40, 40, 0.08);
  box-shadow: 0 8px 80px rgba(40, 40, 40, 0.08);
}
.header-2 .appointment-item{
  padding: 40px;
}
.appointment-item .sec-title{
  margin-bottom: 30px;
}
.appointment-item .sec-title h3{
  margin: 0 0 20px 0;
}
.appointment-item .sec-title p{
  font-size: 14px;
}


input.ng-invalid.ng-touched{
  border: 3px solid red;
}

input.ng-valid{
  border: 3px solid green;
}

textarea.ng-invalid.ng-touched{
  border: 3px solid red;
}

textarea.ng-valid{
  border: 3px solid green;
}

select.ng-invalid.ng-touched{
  border: 3px solid red;
}

select.ng-valid{
  border: 3px solid green;
}

.btn-submit:disabled{
  cursor: not-allowed;
}
input[type="datetime-local"]::placeholder{
  padding-left: 0px;
}
