
<div class="shop-item">
  <div class="item-img">
    <img class="img-fluid" src="assets/images/shop/01_shop.jpg" alt="01 Shop">
    <div class="add-to-card">
      <button (click)="addItemToBasket()" type="button" class=" btn btn-4">Add To Card</button>
    </div>
  </div>
  <div class="item-text text-center">
    <a [routerLink]="['/product/detail/',product.id]"  class="open-item-shop">
      <h4>{{product.name}}</h4>
    </a>
    <span>{{product.price|currency}}</span>
    <div class="add-to-card">
      <a [routerLink]="['/product/detail/',product.id]" class="btn-4">Details</a>
    </div>
  </div>
</div>
