<section class="services-details py-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="box-details">
          <div class="img-box">
            <img class="img-fluid" src="assets/images/services-details/01_services-details.jpg" alt="01 Services Details">
          </div>
          <div class="text-box">
            <h4>{{service.name}}</h4>
            <p>{{service.description}}</p>
            <h5>24 Hours Services :</h5>
            <ul>
              <li><i class="fas fa-check"></i> Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
              <li><i class="fas fa-check"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check"></i> Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
              <li><i class="fas fa-check"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check"></i> Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
            </ul>
            <h5>Outdoor Checkup :</h5>
            <ul>
              <li><i class="fas fa-check-double"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check-double"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check-double"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check-double"></i> Lorem Ipsum is simply dummy text of the printing</li>
              <li><i class="fas fa-check-double"></i> Lorem Ipsum is simply dummy text of the printing</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="mission">
          <i class="flaticon-aids"></i>
          <h5>Our Mission</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        </div>
        <div class="open-hours">
          <h5>open hour</h5>
          <ul>
            <li>Monday <span>8,00 - 20,00</span></li>
            <li>Tuesday <span>8,00 - 20,00</span></li>
            <li>Wednesday <span>8,00 - 20,00</span></li>
            <li>Thursday <span>8,00 - 20,00</span></li>
            <li>Friday <span>8,00 - 20,00</span></li>
            <li>Saturday <span>8,00 - 20,00</span></li>
            <li>Sunday <span>8,00 - 20,00</span></li>
          </ul>
        </div>
        <div class="news-box">
          <div class="news-item">
            <img class="img-fluid" src="assets/images/blog/01_blog.jpg" alt="01 Blog">
            <div class="item-content">
              <span><a href="#">Jan 20, 2019</a></span>
              <a href="#" class="title-blog">
                <h5>Medical &amp; Dental Support ICU &amp; CCU for Emergancy Services</h5>
              </a>
            </div>
          </div>
          <div class="news-item">
            <img class="img-fluid" src="assets/images/blog/02_blog.jpg" alt="02 Blog">
            <div class="item-content">
              <span><a href="#">Jan 25, 2019</a></span>
              <a href="#" class="title-blog">
                <h5>Patien Forum School patient Experience</h5>
              </a>
            </div>
          </div>
          <div class="news-item">
            <img class="img-fluid" src="assets/images/blog/03_blog.jpg" alt="03 Blog">
            <div class="item-content">
              <span><a href="#">Jan 30, 2019</a></span>
              <a href="#" class="title-blog">
                <h5>What Can I do to protect myself &amp; prevent the spread of disease!</h5>
              </a>
            </div>
          </div>
        </div>
        <div class="need-doctors">
          <h5>Need A Doctors</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          <a href="01_appointment.html" class="btn-4">Visit Hospital</a>
        </div>
      </div>
    </div>
  </div>
</section>
