<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <i class="fas fa-user mt-3" style="font-size: 20px"></i>
    </div>

    <!-- Login Form -->
    <form  #loginForm="ngForm" (ngSubmit)="login()">
      <input type="text" id="login" class="fadeIn second" required
             name="username" placeholder="Username" [(ngModel)]="model.username">
      <input type="password" id="password" class="fadeIn third" type="password" required

             name="password" placeholder="Password" [(ngModel)]="model.password">
      <input type="submit" class="fadeIn fourth" value="Log In" [disabled]="!loginForm.valid" >
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Forgot Password?</a>
    </div>

  </div>
</div>
